@charset "ISO-8859-1";

body{
    font-family: "Courier New", monospace;
    background: #e0e0e0;
}

textarea {
    font-family: "Courier New", monospace;
    background: whitesmoke;
    resize: none;
}